<!DOCTYPE html>
<html lang="en-US">
  <head>
    {# <link rel="stylesheet" href="./ui.min.css"> #}
  </head>
  <body>
    <div class="container">
      <div>
        <textarea class="textarea type--xlarge" rows="3" id="question" name="question" placeholder="write a 3 sentence review for a mediocre coffee shop but with exceptional pastries"></textarea>
        <div class="actions">
          <button class="button button--primary" id="wdyt"><span class="material-symbols-outlined">send</span></button>
          <button class="button button--secondary --hidden" id="conversation">Debug</button>
        </div>
      </div>
      <div id="konsole" class="konsole textarea" name="konsole"></div>
    </div>

    {# <script type="application/javascript" src="ui.js"></script> #}
  </body>
</html>
