@import url('../node_modules/figma-plugin-ds/dist/figma-plugin-ds.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --background-color: #fff;
  --border-radius: 8px;
  --error--color: #530101;
  --error--background-color: #ffc5bf;
  --font-size: 14px;
  --line-height: 1.3em;
  --type--tiny: 9px;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: var(--font-size);
  text-align: center;
  width: 244px;
}

button,
.button {
  cursor: pointer;
  justify-content: center;
}

details {
  border-top: 1px solid var(--black1);
  padding-block-start: 1ch;

  &:last-of-type {
    padding-bottom: 2ch;
  }
}

footer {
  align-content: center;
  background-color: var(--background-color);
  border-top: 1px solid var(--black1);
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: var(--type--tiny);
  justify-content: space-between;
  padding: 1ch;
  position: fixed;
  width: 100%;
  z-index: 500;

  div {
   opacity: .6;
  }
}

summary {
  &.label {
    display: list-item;
    text-align: left;
  }
}

textarea,
.textarea {
  font-family: 'Roboto Mono', monospace;
  line-height: var(--line-height) !important;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.actions {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  margin-block: 1ch;
}

.container {
  align-items: stretch;
  box-sizing: border-box;
  display: flex !important;
  flex-flow: column nowrap;
  gap: 1ch;
  height: calc(100% - 20px);
  justify-content: flex-start;
  margin: 0;
  padding: 1ch;

  & > *:first-child {
    flex-grow: 1;
  }
}

.disclaimer {
  background-color: var(--white);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1000;

  &__text {
    color: var(--toolbar);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    line-height: var(--line-height) !important;
  }
}

.--error {
  background-color: var(--error--background-color);
  color: var(--error--color) !important;
}

.--hidden {
  display: none;
  opacity: 0;
  visibility: collapse;
}

.--pending {
  animation-direction: normal;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-play-state: running;
  animation-timing-function: linear;
}

.json-formatter-string {
  white-space: pre-wrap !important;
}

.konsole,
#konsole {
  align-items: flex-start;
  background-color: var(--toolbar);
  border: 0 !important;
  border-radius: 1ch;
  color: var(--black3);
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--type--tiny);
  gap: 2ch;
  height: 18em;
  margin-bottom: 3ch;
  overflow: hidden scroll;
  text-align: left;
  white-space: pre-wrap;

  &__entry {
    white-space: pre-wrap;
    width: 100%;
  }
}

#question {
  font-family: sans-serif !important;
}

#wdyt {
  font-family: 'Material Symbols Outlined' !important;
  font-size: 24px !important;
  transition: color 150ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
